@charset "UTF-8";

:root {
    --bg-color: #121212;
    --text-color: #E0E0E0;
    --primary-color: #D4AF37;
    --card-bg-color: #1E1E1E;
    --border-color: #333;
    }

 [data-theme="light"] {
    --bg-color: #F5F5F5;
    --text-color: #121212;
    --primary-color: #B8860B;
    --card-bg-color: #FFFFFF;
    --border-color: #E0E0E0;
    }

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.5s, color 0.5s;
    }

.card {
    background-color: var(--card-bg-color);
    border: 1px solid var(--border-color);
    transition: background-color 0.5s, border-color 0.5s;
    }

.text-primary {
    color: var(--primary-color);
    }
        
.bg-primary {
    background-color: var(--primary-color);
    }

.border-primary {
    border-color: var(--primary-color);
    }
        
.hover\:text-primary:hover {
    color: var(--primary-color);
    }

.dynamic-island {
    background-color: rgba(30, 30, 30, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid var(--primary-color); /* Borda dourada adicionada */
    }

[data-theme="light"] .dynamic-island {
    background-color: rgba(255, 255, 255, 0.7);
    }