@charset "UTF-8";

    
        :root {
            --bg-color: #121212;
            --text-color: #E0E0E0;
            --primary-color: #D4AF37;
            --card-bg-color: #1E1E1E;
            --border-color: #333;
        }

        [data-theme="light"] {
            --bg-color: #F5F5F5;
            --text-color: #121212;
            --primary-color: #B8860B;
            --card-bg-color: #FFFFFF;
            --border-color: #E0E0E0;
        }

        body {
            font-family: 'Inter', sans-serif;
            background-color: var(--bg-color);
            color: var(--text-color);
            transition: background-color 0.5s, color 0.5s;
        }
        
        .font-mplus {
            font-family: 'M PLUS Rounded 1c', sans-serif;
        }

        .card {
            background-color: var(--card-bg-color);
            border: 1px solid var(--border-color);
            transition: background-color 0.5s, border-color 0.5s;
        }

        .text-primary {
            color: var(--primary-color);
        }
        
        .bg-primary {
            background-color: var(--primary-color);
        }

        .border-primary {
            border-color: var(--primary-color);
        }
        
        .hover\:text-primary:hover {
            color: var(--primary-color);
        }

        .dynamic-island {
            background-color: rgba(30, 30, 30, 0.7);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border: 1px solid var(--primary-color);
        }

        [data-theme="light"] .dynamic-island {
            background-color: rgba(255, 255, 255, 0.7);
        }

        .hero-image-fade {
            mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
            -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
        }

.download-btn {
    outline: none;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #000000;
    color: #000000;
    }

.download-btn span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    }

.download-btn:hover span {
    color: #ffc746;
    }

.download-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 100%;
    z-index: 0;
    background: var(--primary-color);
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    }

.download-btn:hover::before {
    transform: translate3d(100%, 0, 0);
    color: #FFFFFF;
    }
